html{
    scroll-behavior: smooth;
}
body{
    background-color: #fcfcfc69;
    font-family: 'Montserrat', sans-serif;
    /* font-family: Helvetica; */
}

@font-face {
    font-family: Ajourney;
    src: url(../assets/good-times/goodtimesrg.ttf);
}

::selection{
    color: #fff;
    background-color: #5B00FF;
}
/* Navbar */
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}  
a{
    text-decoration: none;
}
a:hover{
  	text-decoration:none;
}
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
  /*===== HEADER =====*/
.header{
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0 1rem;
    background-color: #fff;
    justify-content: space-between;
    border-bottom: 1.5px solid #5b00ff;
    z-index: 1000;
    display: flex;
    align-items: center;
}
.header__logo{
    display: flex;
    align-items: center;
    color: #5b00ff;
    font-family: Ajourney;
}

.bi-list{
    font-size: 1.5rem;
    color: #5b00ff;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 2px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .ajax-load {
    margin-bottom: 50px;
} */
  /*===== NAV =====*/
@media screen and (max-width: 767px) {
    .nav{
        position: fixed;
        top: 0;
        left: -100%;
        background-color: #fff;
        color: #000;
        width: 100%;
        height: 100vh;
        padding: 1rem 0;
        z-index: 1000;
        overflow: auto;
        transition: all .5s ease-out;
    }
    .header__logo{
        display: flex;
        align-items: center;
        color: #5b00ff;
        font-family: Ajourney;
    }
    .brand-logo{
        display: flex;
        width: 45px;
        height: 45px;
    }
    .brand-name{
        font-family: Ajourney;
        font-size: 26px;
        font-weight: 600;
        color: #5b00ff;
        letter-spacing: 1.2px;
        padding-left: 5px;
    }
    .nav__name{
        display: flex;
        color: #5b00ff;
        font-family: Ajourney;
        letter-spacing: 1.2px;
        font-size: 26px;
    }
    .nav__perfil{
        display: flex;
    }
}
.nav__content{
    -ms-grid-rows: max-content 1fr max-content;
    grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
    grid-template-rows: max-content 1fr max-content;
    row-gap: 2rem;
}
.bd-grid{
    display: block;
    margin-left: 1.5rem;
}
.bi-x{
    position: absolute;
    right: .8rem;
    top: 1.2rem;
    font-size: 2.2rem;
    cursor: pointer;
    color: rgb(71, 71, 71);
    border-radius: 25px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 56px;
    background-color: var(--first-color);
    border-radius: 50%;
    overflow: hidden;
}
.nav__img img{
    width: 45px;
}
.nav__name{
    display: flex;
    color: #5b00ff;
    font-weight: 600;
    font-family: Ajourney;
    font-size: 26px;
}
.nav__profesion{
    font-size: var(--small-font-size);
} 
.nav__menu{
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-left: auto;
}
.nav__item{
    margin: 2.5rem 0;
    width: fit-content;
  }
.nav__item:hover{
    color: #5b00ff;
    font-weight: 600;
}
.nav__item:after{
    display: block;
    content: '';
    border-bottom: solid 2px #5900ff;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.nav__item:hover:after{
    transform: scaleX(1); 
}
.nav__item:after{  
    transform-origin:  0% 50%; 
}
.nav__link{
    color: #000;
    padding: 2px;
}
.social-img{
    margin-right: 15px;
}
.menu-btm-link{
    display: block;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mbl{
    color: #373838;
    font-size: 13px;
}
.pp{
    color: #373838;
    font-size: 13px;
}
.mbl:hover{
    color: #5b00ff;
}
.pp:hover{
    color: #5b00ff;
}
/*Aparecer menu*/
.show {
    left: 0;
}
/*Active menu*/
/* .active{
    color: #5900ff;
    font-weight: 600;
    border-bottom: solid 2px #5900ff;
}  */

  
  /*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
    hr{
        display: none;
    }
    .header__logo, .bi-list{
        display: none;
    }
    .brand-logo{
        display: flex;
        width: 45px;
        height: 45px;
    }
    .brand-name{
        font-family: Ajourney;
        font-size: 26px;
        font-weight: 600;
        color: #5b00ff;
        letter-spacing: 1.2px;
        padding-left: 5px;
    }
    .nav{
        width: 100%;
    }
    .nav__content{
        display: contents;
    }
    .bi-x, .nav__profesion{
        display: none;
    }
    .nav__perfil{
        display: -webkit-box;
        display: flex;
        align-items: center;
    }
    .nav__img {
        margin-bottom: 0;
        align-items: center;
    }
    .nav__img img{
        width: 45px;
        height: 45px;
    }
    .nav__list{
        display: flex;
    }
    .nav__item{
        margin: 0 .5rem;
    }
    .nav__item:hover{
        color: #5b00ff !important;
        font-weight: 600;
    }
    .nav__item:after{
        display: block;
        content: '';
        border-bottom: solid 2px #5900ff;
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
    }
    .nav__item:hover:after{
        color: #5900ff;
        transform: scaleX(1); 
    }
    .nav__item:after{  
        transform-origin:  0% 50%; 
    }
    .nav__link{
        display: flex;
        align-items: center;
        font-size: 18px;
        color: #000;
        padding: 5px 2px 1px 2px;
        font-family: 'Montserrat', sans-serif;
    }
    .nav__link:hover{
        color: #5b00ff;
        font-weight: 600;
    }
    .nav__link:after{
        display: block;
        content: '';
        border-bottom: solid 2px #5900ff;
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
    }
    .nav__link:hover:after{
        transform: scaleX(1); 
    }
    .nav__link:after{  
        transform-origin:  0% 50%; 
    }
    /* .active{
        color: #5900ff;
        font-weight: 600;
        border-bottom: solid 2px #5900ff;
    } */
    .social-img{
        margin: 10px;
    }
    .nav__social{
        margin-left: 1rem;
        padding-top: 2px;
    }
    .menu-btm-link{
        display: none;
    }
}
  
@media screen and (min-width: 1024px) {
    .bd-grid {
      /* margin-left: auto;
      margin-right: auto; */
    }
  } 
@media screen and (max-width: 320px) {
    .brand-logo{
        display: flex;
        width: 35px;
        height: 35px;
    }
    .brand-name{
        font-family: Ajourney;
        font-size: 22px;
        font-weight: 600;
        color: #5b00ff;
        letter-spacing: 1px;
        padding-left: 2px;
    }
    .nav__name{
        display: flex;
        color: #5b00ff;
        font-weight: 600;
        font-family: Ajourney;
        letter-spacing: 1.2px;
        padding-left: 2px;
        font-size: 22px !important;
    }
    .nav__img{
        width: auto;
    }
    .nav__img img {
        width: 35px;
    }
}
/* /Navbar */

.header-page-title{
    color: #373838;
    margin: 0 !important;
    margin-top: 1rem !important;
    -webkit-animation: h4 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: h4 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    /* background: linear-gradient(  -30deg , transparent 25%, rgba(187, 187, 187, 0.603) 0%, rgba(187, 187, 187, 0.603) 50%, transparent ); */
}
@keyframes h4 {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
}
h4>span{
    background: linear-gradient(45deg, #f09732, #f09732, #fff, #49890e,#49890e);
	background-size: 400% 400%;   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
    font-weight: bolder;
    text-transform: uppercase;
	animation: gradient 15s ease infinite;
    user-select: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.carousel{
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-animation: carousel 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: carousel 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes carousel {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
.carousel-inner{
    box-shadow: 2px 6px 36px -16px rgba(209,201,209,1);
    border-radius: 10px;
}
.carousel-control-next-icon{
    background-image: none;
    color: #fff;
    height: 45px;
    right: -15px;
    position: absolute;
    background-color: #949292a2;
    border-radius: 5px;
}
.carousel-control-prev-icon{
    background-image: none;
    color: #fff;
    height: 45px;
    left: -15px;
    position: absolute;
    background-color: #949292a2;
    border-radius: 5px;
}
.carousel-control-next, .carousel-control-prev{
    width: 5%;
}
.section-wrapper{
    background-color: #5b00ff;
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding-top: 60px;
    padding-bottom: 60px;
}
.rev-header{
    font-size: 3.1rem;
    color: #fff;
    text-align: center;
    margin-bottom: 3.5rem;
    margin-top: 1.5rem;
    font-weight: bold;
}
.rev-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
}
.rev-img{
    width: 300px;
}
.add-border-5{
    border-radius: 2rem;
}
.rev-1-content-wrapper{
    max-width: 500px;
    padding: 20px;
    text-align: center;
}
.rev-1-title{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
}
.rev-1-text{
    color: #fff;
    font-size: 1.3rem;
}
@media only screen and (max-width: 920px){
    .rev-wrapper{
        flex-direction: column;
    }
    .reverse{
        flex-direction: column-reverse;
    }    
}
@media only screen and (max-width: 576px){
    .rev-1-title{
        font-size: 1.9rem;
    }
    .rev-1-text{
        font-size: 1rem;
    }
    .rev-img{
        width: 260px;
    }
    .rev-header{
        font-size: 2rem;
    }
    .section-wrapper{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .rev-wrapper{
        margin-bottom: 3.5rem;
    }

}
.main-stps{
    margin-top: 6rem;
}
.more-startups-section{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: space-between;
}
.moresection{
    color: #000;
    font-weight: 600;
}
.search-icon{
    padding-left: 10px;
}
.search-startups{
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 22px;
    cursor: pointer;
    color: #3f3f3f;
    /* -webkit-animation: sm 0.5s ease-in-out infinite both;
    animation: sm 0.5s ease-in-out infinite both; */
}
.search-startups:hover{
    color: #5b00ff;
}
@keyframes sm {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}
.filter-button-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-scroll{
    display: flex;
    justify-content: flex-end;
}
.filter-scroll-button{
    background: #fff;
    padding: 8px 10px;
    color: #5b00ff;
    border-radius: .5rem;
    height: 40px;
    border: 0;
    outline: none;
    transition: .6s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.scroll-btn1{
    margin-right: 10px;
}
.filter-scroll-button:hover{
    background-color: #5b00ff;
    color: #fff;
}
.filter-wrapper{
    display: flex;
    align-items: center;
}
.filter-startup{
    display: flex;
    align-items: center;
    padding: 5px 15px;
    height: 40px;
    /* border: 1.5px solid rgb(99, 99, 99); */
    border-radius: .5rem;
}
.custom-select{
    margin-left: 10px;
}
.bi-filter{
    padding-right: 8px;
}
.filter-link{
    display: flex;
    overflow: auto;
    padding: 10px 10px 10px 2px;
    margin-top: 10px;
    scroll-behavior: smooth;
}
.filter-btn{
    background-color: #fff;
    width: max-content;
    margin-right: 20px;
    border-radius: .5rem;
    position: relative;
    top: 0;
    transition: .4s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.filter-btn:hover{
    top: -4px;
    background-color: #5b00ff;
    color: #fff;
    box-shadow: 0px 6px 12px -2px rgba(50, 50, 93, 0.25), 0px 3px 7px -3px rgba(0, 0, 0, 0.3);
}
.hide-scroll::-webkit-scrollbar {
    display: none;
}
/* For Firefox and IE */
.hide-scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.display-short{
    display: flex;
    box-shadow: 0px 6px 36px -13px rgba(0,0,0,0.51);
}
.d-block{
    -webkit-animation: d-block 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: d-block 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes d-block {
    0% {
        -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
                transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
        opacity: 0;
      }
      100% {
        -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
                transform: rotateX(0deg) translateX(0) skewX(0deg);
        opacity: 1;
      }
  }
.startup-info{
    padding: 20px;
    background-color: #fff;
    -webkit-animation: startup-info 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: startup-info 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes startup-info {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
}
.top-svg{
    height: fit-content;
}
.startup-name-title{
    padding: 10px 10px 5px 10px;
    color: #000;
}
.startup-name{
    font-family: 'Mate SC', serif;
    padding: 0px 10px;
    color: #5b00ff;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.2;
}
span{
    font-size: 1.2rem;
}
.startup-about{
    padding: 10px 10px;
    color: #000;
}
.startup-about>p{
    position: relative;
    padding: 5px 5px 5px 10px;
    font-size: 14.5px;
    line-height: 1.3;
}
.startup-about>p::before{
    border-left: 3px solid #5b00ff;
    content: '';
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.founder-details{
    margin-bottom: 1rem;
}
.bi-person{
    color: #ff2041 !important;
}
.founder-name span{
    color: rgb(39, 39, 39);
    font-weight: bolder;
    font-size: 15px;
}
.founder-name{
    color: #ff2041;
    font-weight: bold;
    font-size: 1rem;
}
.founder-clgname{
    color: #3f3f3f;
    font-size: 14px;
}
.rm-btn{
    margin-top: 15px;
    margin-bottom: 30px;
    padding: .5rem .9rem;
    text-transform: none;
    letter-spacing: .4px;
    background-color: #ff3858;;
    transition: .6s;
    box-shadow: none;
}
.rm-btn:hover{
    background-color: #ff1639;
}
.rm-btn:focus{
    background-color: #ff1639;
}
.rm-btn:active{
    background-color: #ff1639;
}
.bi-share{
    cursor: pointer;
}
.cls-btn{
    text-transform: none;
    letter-spacing: .4px;
    background-color: #ff2041;;
    transition: .6s;
}
.cls-btn:hover{
    background-color: #ff0026;
}
.cls-btn:focus{
    background-color: #ff0026;
}
.cls-btn:active{
    background-color: #ff0026;
}
.modal-header{
    border-bottom: 0;
}
.modal-footer{
    border-top: 0;
}
.modal-title{
    font-size: 1.5rem;
}
#more{
    display: none;
}
.disclaimer{
    padding: 20px 10px;
    text-align: left;
    font-size: 0.875rem;
   	margin-bottom: 0 !important;
}
.disclaimer-header{
    text-align: left;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
}
.disclaimer>p{
    margin-bottom: 0 !important;
}
.main-all-startup{
    padding-top: 50px;
}
.startups-items{
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 36px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: 0.6s;
    /* -webkit-animation: items 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: items 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}
@keyframes items {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      opacity: 1;
    }
}
.end{
    text-align: center;
    font-size: 14px;
    color: #373838;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.s-startup{
    border: 1px solid #eaeaea;
    border-radius: 15px;
    background-color: #fff;
    transition: 0.6s;
    width: min-content;
    position: relative;
    margin: 12px 0;
    width: 301px;
    overflow: hidden;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 12px 25px 0px;
}
.s-startup:hover{
    text-decoration: none !important;
    box-shadow: 0px 2px 8px 0px rgba(60, 85, 62, 0.342);
    transition: 0.6s;
}
.img-box img{
    height: 210px;
    width: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
@media only screen and (min-width: 450px){
    .s-startup{
        width: 280px;
        margin: 12px;
        margin-bottom: 26px;
    }
    .img-box img{
        width: 278px;
    }
}
.s-startup-content{
    padding: 20px 10px 10px 15px;
    position: relative;
}
@media only screen and (min-width: 450px){
    .s-startup-content{
        width: 280px;
    }
}
.s-startup-tags{
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
}
.s-startup-tag1{
    font-size: 0.7rem;
    background-color: #fff;
    color: #ff0026;
    border: 1px solid #ff0026;
    padding: 6px 10px;
    margin-right: 4px;
    border-radius: 4px
}
.s-startup-tag2{
    font-size: 0.7rem;
    background-color: #fff;
    color: #000;
    padding: 6px 10px;
    margin-right: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.s-startup-title{
    font-size: 1.3rem;
    color: #5b00ff;
    margin-top: 2rem;
    font-family: 'Mate SC', serif;
    font-weight: bold;
    line-height: 1.2;
}
.s-startup-desc{
    color: #000;
    margin-bottom: 0.3rem;
    padding-top: 6px;
  	font-size: 0.9rem;
    letter-spacing: 0.3px;
}
.container-lg{
    padding-left: 10px;
    padding-right: 10px
}
.fd-name{
    padding: 3px 0 7px 0;
  	font-size: .96rem;
}

.new-btn{
    margin: 20px 10px !important; 
    position: absolute;
    bottom: 0;
    right: 0;
}
.share-w-svg{
    display: flex;
}
.share{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 10px 10px 10px;
    margin-left: 20px;
}
.svg{
    display: block;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99;
}
.container-sm{
    background: #fff;
    box-shadow: 2px 6px 36px -16px rgba(209,201,209,1);
    border-radius: 25px;
    margin-top: 2rem;
    padding: 20px;
}
/* h5{
    text-align: center;
    color: #fff;
    background: #5b00ff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 35px;
    font-size: 22px;
    text-transform: capitalize;
} */
.rlt-artls{
    display: block;
}
.artls{
    display: block;
    margin: 0 auto;
}
.srvs-1{
    display: flex;
    margin: 0 auto;
    border: 1px solid #eaeaea;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    transition: 0.6s;
    position: relative;
}
.srvs-1:hover{
    box-shadow: 0px 2px 8px 0px rgba(129, 155, 228, 0.342);
    transition: 0.6s;
}
.srvs-img img{
    width: 300px;
    height: 300px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.srvs-content{
    padding: 15px;
    position: relative;
}
.srvs-title{
    font-size: 2rem;
    color: #5b00ff;
    font-family: 'Mate SC', serif;
    font-weight: bold;
    line-height: 1.2;
    border-bottom: 2px solid #5b00ff;
}
.srvs-desc{
    color: #000;
    margin-bottom: 1.5rem;
    padding-top: 10px;
  	font-size: 1rem;
    letter-spacing: 0.3px;
}
.srvs-tags{
    position: relative;
    margin-bottom: 2rem;
}
.srvs-tag1{
    font-size: 0.8rem;
    background-color: rgb(253, 98, 60);
    color: #fff;
    padding: 8px 12px;
    margin-right: 8px;
    border-radius: 8px
}
.srvs-owner{
    color: #5b00ff;
    font-family: 'Mate SC', serif;
  	font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.4px;
}


/*Media Query*/
/* @media (max-width: 1200px) {
    .container-sm{
    }
    .rlt-artls{
    }
    .srvs-1{
        transition: 0.7s;
    }


} */
@media (max-width: 992px) {
    .srvs-1{
        width: auto;
        flex-direction: column;
    }
    .srvs-img img{
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0;
    }
}
@media only screen and (max-width: 1001px) {
    .display-short{
        flex-direction: column;
        margin: 0;
        box-shadow: none;
    }
    .d-block{
        width: 100%;
        height: 400px;
        margin: 0 auto;
    }
    .startup-info,.w-50{
        width: 100% !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .svg{
        height: 100px;
    }
    .carousel-item{
        height: 820px;
        box-shadow: none;
    }
    .carousel-inner{
        box-shadow: none;
    }
}
@media only screen and (max-width: 450px){
    .carousel-inner{
        border: 0;
    }
    .carousel-item{
        height: 640px;
        box-shadow: none;
    }
    .carousel-inner{
        box-shadow: none;
    }
    .display-short{
        box-shadow: none;
    }
    .d-block{
        width: 100%;
        height: 300px;
        margin: 0 auto;
    }
    .startup-info{
        padding: 0px;
        background-color: #fff;
    }
    .startup-name{
        padding: 10px 10px 5px 20px;
        font-size: 1.7rem;
    }
    .startup-name>span{
        font-size: 1.2rem;
    }
    .startup-about{
        font-size: 0.9rem;
    
    }
    .startup-about>span{
        font-size: 1.1rem;
    }
    .share{
        margin-left: 10px;
        bottom: -5px;
    }
    .carousel-control-next-icon{
        right: -12px;
    }
    .carousel-control-prev-icon{
        left: -12px;
    }
  	.founder-name{
    	font-size: 1rem;
	}
}
@media (min-width: 992px){
    .container{
        max-width: 1000px;
    }
}



footer{
    background-color: #f7f7f7;
    margin-top: 3rem;
}
.footer-container{
    padding-top: 40px;
    padding-bottom: 40px;
}
.main-footer-content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.brand-name-logo{
    margin-right: 90px;
    text-align: left;
}
.ml{
    display: flex;
    align-items: center;
    padding: 13px 5px 5px 5px;
    color: #5b00ff;
    font-weight: bolder;
    font-size: 26px;
}
.brand-tagline{
    margin: 10px 0 0 15px;
}
.content-links{
    padding-top: 1rem;
    display: flex;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}
.link-content{
    margin: 0 45px 0 8px;
}
.link-heading{
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
    margin-top: .5rem;
    font-size: 16px;
}
.ft-lw-link{
    display: block;
    margin-top: 16px;
    text-align: left;
    font-size: 14px;
	color: rgb(44, 44, 44);
}
.ft-lw-link:hover{
    color: #5b00ff;
}
.ft-lw{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    border-top: 1px solid #e2e2e2;
}
.cc{
	color: rgb(44, 44, 44);
}
.cc:hover{
    color: #5b00ff;
}
@media screen and (max-width: 991px){
    .content-links{
        flex-wrap: wrap;
        padding-bottom: 1rem;
        margin-bottom: 2.5rem;
    }
    .link-container{
        padding-top: 1.5rem;
        width: 50%;
    }
    .brand-name-logo{
        margin-top: 1.5rem;
    }
}
@media screen and (max-width: 767px){
    .main-footer-content{
        flex-direction: column;
    }
    .lnk-content{
        margin: 0 30px 0 8px;
    }
    .brand-name-logo{
        margin-right: 50px;
        margin-top: 0;
    }
    .ft-lw{
        flex-direction: column;
    }
    .cc{
        margin-top: 1rem;
    }
    .nav__social {
        padding-left: 2px;
        margin-top: 1.2rem;
    }
}


.breadcrumb-wrapper{
    margin-top: 2rem;
}
.breadcrumb{
    margin-bottom: 0;
}
.breadcrumb-item-link{
    color: #373838;
}
.breadcrumb-item-link:hover{
    color: #5b00ff;
}
.breadcrumb-active{
    color: #5b00ff;
}