@font-face {
    font-family: Ajourney;
    src: url(../../../assets/good-times/goodtimesrg.ttf);
}
body{
    background-color: #fcfcfc69;
    font-family: 'Montserrat', sans-serif;
}
.hide{
    display: none;
}
.container-fluid{
    padding: 0;
}
.header{
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0 1rem;
    background-color: #fff;
    justify-content: space-between;
    border-bottom: 1.5px solid #5b00ff;
    z-index: 1000;
    display: flex;
    align-items: center;
}
.header__logo{
    display: flex;
    align-items: center;
    color: #5b00ff;
    font-family: Ajourney;
}
.brand-name{
    font-family: Ajourney;
    font-size: 26px;
    font-weight: 600;
    color: #5b00ff;
    letter-spacing: 1.2px;
    padding-left: 5px;
}
.brand-logo{
    display: flex;
    width: 45px;
    height: 45px;
}
.form-data{
    padding: 0 8px 0 8px;
}
.form-heading{
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}
.form-image{
    /* padding-top: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-image>img{
    width: 150px;
    height: 150px;
}
.startup-form{
    width: 100%;
    padding-top: 20px;
}
.mb-4{
    margin-bottom: 1rem !important;
}
.mb-4-info{
    margin-top: 20px;
    margin-bottom: 0 !important;
}
.mb-4-info-top-p{
    margin-top: 20px;
}
.mb-4-bottom{
    margin-bottom: 0 !important;
}
.required{
    color: red;
}
.add-btn{
    width: 100%;
    margin-bottom: 1rem;
    text-align: right;
}
.btn-info{
    font-weight: bold;
}
.collegename{
    margin-top: 20px;
}
.info{
    font-size: 14px;
    font-weight: bold;
    color: rgba(0,0,0,.6);
    padding-left: 4px;
}
.btn-secondary{
    background-color: #5b00ff;
    padding: 10px;
}
.btn-secondary:hover{
    background-color: #5b00ff;
}
.btn-secondary:focus{
    background-color: #5b00ff;
}
/*Image Upload*/
.file-upload{
  background-color: #fcfcfc69;
  width: 100%;
  margin: 0 auto;
  padding: 0px 0 20px 0;
}
.file-upload-btn{
  width: 100%;
  margin: 0;
  color: #fff;
  background: #5b00ff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #5b00ff;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}
.file-upload-btn:hover{
  background: #5b00ff;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}
.file-upload-btn:active{
  border: 0;
  transition: all .2s ease;
}
.file-upload-content{
  display: none;
  text-align: center;
}
.file-upload-input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}
.image-upload-wrap{
  margin-top: 20px;
  border: 4px dashed #5b00ff;
  position: relative;
}
.image-dropping,
.image-upload-wrap:hover{
  background-color: #5b00ff;
  border: 4px dashed #ffffff;
}
.image-title-wrap{
  padding: 0 15px 15px 15px;
  color: #222;
}
.drag-text{
  text-align: center;
}
.drag-text h3{
  font-weight: 100;
  text-transform: uppercase;
  color: #222;
  padding: 60px 0;
}
.file-upload-image{
  max-height: 390px;
  max-width: 390px;
  margin: auto;
  padding: 5px;
}
.remove-image{
  width: 100%;
  margin: 0;
  color: #fff;
  background: #f80c35;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #f80c35;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}
.remove-image:hover{
  background: #f80c35;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}
.remove-image:active{
  border: 0;
  transition: all .2s ease;
}
/*Image Upload*/

.form-outline-modify{
    margin-top: 20px;
}
.form-contact-details{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    width: 100%;
    padding: 30px 0 0 0;
    color: black;
}
.form-description{
    width: 100%;
    text-align: center;
    color: black;
}
.exta-form-link{
    font-weight: bold;
    padding-left: 10px;
}
.links{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}
.links>a{
    width: 240px;
}
.modal-header{
    padding: 10px 20px 10px 20px !important;
}
.submit-btn{
    /* text-align: right; */
    width: 100%;
}
.btn-lg{
    width: 100%;
}
.register-warning{
    width: 100%;
}

/*Footer*/
footer{
    background-color: #f7f7f7;
    margin-top: 3rem;
}
.footer-container{
    padding-top: 40px;
    padding-bottom: 40px;
}
.main-footer-content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.brand-name-logo{
    margin-right: 90px;
    text-align: left;
}
.ml{
    display: flex;
    align-items: center;
    padding: 13px 5px 5px 5px;
    color: #5b00ff;
    font-weight: bolder;
    font-size: 26px;
}
.brand-tagline{
    margin: 10px 0 0 15px;
}
.content-links{
    padding-top: 1rem;
    display: flex;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}
.link-content{
    margin: 0 45px 0 8px;
}
.link-heading{
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
    margin-top: .5rem;
    font-size: 16px;
}
.ft-lw-link{
    display: block;
    margin-top: 16px;
    text-align: left;
    font-size: 14px;
	color: rgb(44, 44, 44);
}
.ft-lw-link:hover{
    color: #5b00ff;
}
.ft-lw{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    border-top: 1px solid #e2e2e2;
}
.cc{
	color: rgb(44, 44, 44);
}
.cc:hover{
    color: #5b00ff;
}
@media screen and (max-width: 991px){
    .content-links{
        flex-wrap: wrap;
        padding-bottom: 1rem;
        margin-bottom: 2.5rem;
    }
    .link-container{
        padding-top: 1.5rem;
        width: 50%;
    }
    .brand-name-logo{
        margin-top: 1.5rem;
    }
}
@media screen and (max-width: 767px){
    .main-footer-content{
        flex-direction: column;
    }
    .lnk-content{
        margin: 0 30px 0 8px;
    }
    .brand-name-logo{
        margin-right: 50px;
        margin-top: 0;
    }
    .ft-lw{
        flex-direction: column;
    }
    .cc{
        margin-top: 1rem;
    }
    .nav__social {
        padding-left: 2px;
        margin-top: 1.2rem;
    }
}
/*Footer*/

/*Share*/
.lg-share{
    display: block;
    background: #ff3858;
    color: #fff;
    position: fixed;
    bottom: 55px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px 10px 14px;
    border-radius: 50%;
}
.lg-share:hover{
    color: #fff;
}
@media only screen and (max-width: 450px){
    .lg-share{
        color: #fff;
        position: fixed;
        bottom: 20px;
        right: 5px;
        z-index: 99;
        padding: 10px 16px 10px 14px !important;
        display: block !important;
        background: #ff3858;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
    }
}
/*Share*/
.fa-edit{
    font-size: 25px;
    color: #5b00ff;
    margin-top: 5px;
    cursor: pointer;
}
.form-text{
    color: red;
    text-align: right;
    font-weight: bold;
}
.empty-warning{
    text-align: center;
    font-weight: bold;
}
.modal-header-modify{
    border-bottom: 0;
}
.modal-footer-modify{
    border-top: 0;
}

.form-outline .form-control ~ .form-label{
    padding-top: .70rem;
}
.form-outline .form-control{
    padding: .70em .75em;
}
.form-select{
    padding: .675rem 2.25rem .675rem .75rem;
}

a{
    text-decoration: none;
    color: rgb(44, 44, 44);
}
.social-img{
    color: #757575;
    margin-right: 15px;
}
.btn-danger{
    padding: 10px;
}
.contact-warning{
    width: 100%;
    padding-left: 5px;
}
.modal-form-text{
    color: #757575;
    text-align: left;
    margin: 0 0 10px 5px;
}
.fas{
    padding-left: 5px;
}
.fa-university{
    font-size: 17px;
}
.fa-envelope{
    font-size: 15px;
}
.fa-whatsapp{
    padding-left: 5px;
    font-size: 17px;
}
.fa-facebook{
    padding-left: 5px;
    font-size: 15px;
}
.twitter-modify{
    padding-left: 5px;
    font-size: 15px;
}
.linkedin-in-modify{
    padding-left: 5px;
    font-size: 15px;
}
.youtube-modify{
    padding-left: 5px;
    font-size: 15px;
}
.fa-shopping-bag{
    padding-left: 5px;
    font-size: 15px;
}
.amazon-modify{
    padding-left: 5px;
    font-size: 15px;
}
.pizza-slice-modify{
    padding-left: 5px;
    font-size: 15px;
}
.thumbtack-modify{
    padding-left: 5px;
    font-size: 15px;
}
.map-marker-alt-modify{
    padding-left: 5px;
    font-size: 15px;
}
.unlink-modify{
    padding-left: 5px;
    font-size: 15px;
}

.input-group > .form-control{
    height: calc(2.98rem + 2px);
}
.col-12{
    margin-top: 20px;
    margin-bottom: 20px;
}
.social-notify{
    padding-left: 2px;
} 
